body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #C6D7DA !important;
		}
		.dropdown-toggle {
			color: #00768F !important;
		}

		.table{
			overflow-y: auto;
		}

		.table th{
			background-color: #00768F;
			color:#C6D7DA;
		}

		.table td{
			background-color: white;
		}

		#hora{
			background-color: #FFBA7D;
			color: black;
		}

		.nav {
			background-color: #DB8840 !important;
		}

		#dropdownMenuLink{
			background-color: #8F4300;
			color: #C6D7DA !important;
		}

		.user_card {
			height: 400px;
			width: 30px;
			margin-top: auto;
			margin-bottom: auto;
			background: #00768F;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #00768F;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid #00768F;
		}
		.form_container {
			margin-top: 100px;
		}
		.btn-primary {
			width: 100%;
			background: #DB8840 !important;
			color: #C6D7DA !important;
            transition-duration: 0.4s;
		}
		.btn-primary:hover {
			background: #8F4300 !important;
		}
		.btn-primary:focus {
            box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #8F4300 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}

		.deleteclass{
			height: 1px;
			width: 1px;
		}