{%extends 'layout.html'%}

{%block body%}

<div>
    <br>
    <form action="/obtenerMateria" method="POST">
        <div class="row g-2">
            <div class="col-md-1">
                <button class="btn btn-primary"><img id="botonimg"
                        src="{{url_for('static',filename='iconos/agregar.png')}}"></button>
            </div>
            <div class="col-md-6">
                <h2 id="texto">Agregar Materia</h2>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md-3">
                <h2 id="texto">Nombre: </h2>
            </div>
            <div class="col-md-6">
                <input type="text" name="id_materia" class="form-control input_pass" , placeholder="Nombre materia"
                    required>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-3">
                <h2 id="texto">Créditos: </h2>
            </div>
            <div class="col-md-6">
                <input type="text" name="creditos" class="form-control input_pass" ,
                    placeholder="Créditos de la materia" required>
            </div>
        </div>
    </form>
</div>

{%endblock%}