{%extends 'layout.html'%}

{%block body%}

<div>
    <br>
    <div class="row g-2">
        <div class="col-md-1">
            <h2 id="texto"> </h2>
        </div>
        <div class="col-md-6">
            <h2 id="texto">Eliminar elemento</h2>
        </div>
    </div>

    <!-- ---------------------------ELIMINAR TAREA-------------------------------- -->

    <br>
    <form action="/eliminarTarea" method="POST">
        <div class="row g-4">
            <div class="col-md-1">
                <h2 id="texto"> </h2>
            </div>
            <div class="col-md-2">
                <h2 id="texto">Tarea: </h2>
            </div>
            <div class="col-md-3">
                <select class="form-select" name="tarea" aria-label="Default select example" , required>
                    <option selected></option>
                    {%for tarea in tareasdb%}
                    <option>{{tarea.id_tarea}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-xs"><img id="deleteclass"
                        src="{{url_for('static',filename='iconos/borrar.png')}}" width="25" height="25"></button>
            </div>
        </div>

    </form>
    <br>

    <!-- -----------------------ELIMINAR MATERIA------------------------------------ -->

    <br>
    <form action="/eliminarMateria" method="POST">
        <div class="row g-4">
            <div class="col-md-1">
                <h2 id="texto"> </h2>
            </div>
            <div class="col-md-2">
                <h2 id="texto">Materia: </h2>
            </div>
            <div class="col-md-3">
                <select class="form-select" name="materia" aria-label="Default select example" , required>
                    <option selected></option>
                    {%for materia in materiasdb%}
                    <option>{{materia.id_materia}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-xs"><img id="deleteclass"
                        src="{{url_for('static',filename='iconos/borrar.png')}}" width="25" height="25"></button>
            </div>
        </div>

    </form>
    <br>

    <!-- ----------------------------------------------------------- -->

    <!-- -----------------------ELIMINAR PROFESOR------------------------------------ -->

    <br>
    <form action="/eliminarProfesor" method="POST">
        <div class="row g-4">
            <div class="col-md-1">
                <h2 id="texto"> </h2>
            </div>
            <div class="col-md-2">
                <h2 id="texto">Profesor: </h2>
            </div>
            <div class="col-md-3">
                <select class="form-select" name="profesor" aria-label="Default select example" , required>
                    <option selected></option>
                    {%for profesor in profesoresdb%}
                    <option>{{profesor.id_profesor}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-xs"
                    href="{{url_for('static',filename='materias.delete', id=100)}}"><img id="deleteclass"
                        src="{{url_for('static',filename='iconos/borrar.png')}}" width="25" height="25"></button>
            </div>
        </div>

    </form>
    <br>

    <!-- ----------------------------------------------------------- -->
</div>

{%endblock%}